
<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stadsbudsservice AB</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Våra tjänster
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/kontorsflytt">Kontorsflytt</a></li>
          <li><a href="/privatflytt">Privatflytt</a></li>
          <li><a href="/utlandsflytt">Utlandsflytt</a></li>
          <li><a href="/tunghantering">Tunghantering</a></li>
          <li><a href="/flyttstäd">Flyttstäd</a></li>
          <li><a href="/budtjänster">Budtjänster</a></li>

        </ul>
      </li>
      <li><a href="/offert">Offert</a></li>
      <li><a href="/tips_inföt_flytt">Tips inför flytt</a></li> 
      <li><a href="/kontakt">Kontakt</a></li> 
    </ul>
  </div>
</div>

<hr>
<hr>