{% extends 'base.html' %}

{% block content %}
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
  
        <div class="blog-post">
            <h1 class="blog-post-title">{{ article.title }}</h1>
            
            {% if article.published_date %}
            <p class="blog-post-meta">x{{ article.published_date }}<a href="#">{{ article.user }}</a></p>
            {% endif %}

            <p>{{ article.body|linebreaks }}</p>
            
            <hr>
       </div>
    
    </div></div></div>
    
{% endblock %}