{% extends 'base.html' %}



{% block content %}
 <div class="content container">
    <div class="row">
        <div class="col-md-8">
	{% for article in articles %}
                <div class="article">
                    
                    
                    	
                        <h1><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h1>
                       
                        
                    
                    <p>{{ article.body|linebreaks }}</p>
                    
                    <div class="date">
                        <p>{{ article.published_date }}</p><p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ article.user }}</p>
                    </div>
                    
                    
                    
                </div>
	{% endfor %}
        </div>
    </div>
</div>  
{% endblock %}